@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
a{text-decoration:none; color:#9ca7ca;font-size:14px;}
li{list-style:none;}
img{ vertical-align:top;border:none;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:''; display:block; clear:both;}
.box{width:1000px;margin:0 auto;}
body{ font-family:'微软雅黑';}
